name: Update WakaTime stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka
          SHOW_TITLE: true
          BLOCKS: "░▒▓█"
          TIME_RANGE: last_7_days
          SHOW_TIME: true
          SHOW_TOTAL: true
          COMMIT_MESSAGE: "chore: update waka stats"
